.itemsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.itemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid pink 1px;
    background-image: linear-gradient(to top, #821f386e, #2313197e);
    margin: 25px;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.itemBoxText{
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
}

.imgContainer{
    width: 90%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.buttonStyle{
    background-color: #b4516f;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1.5px;
}

.buttonStyle:hover{
    background-color: aliceblue;
    color: #b4516f;
    transition: 0.5s ease-in-out;
    letter-spacing: 3px;
}

.filtersContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(to left, #d4315a6e, #69394b7e);
    border: #b4516f;
    border-radius: 0.5rem;
}
